<html>
  <head>
    <title>Click: "{{full_name}}"</title>
    <style>body{background-color:{{background_color}};}</style>
  </head>
  <body>
    <div style="height:0.5cm"></div>
    <div style="margin:0 auto;
                max-width:700px;
                padding:0.5cm;
                border-radius:5px;
                background-color:{{frame_color}}">
      <div style="text-align:right">
        <a href="/">Home</a>
        <a href="/logout">Log out</a>
      </div>
      <div style="margin:0.5cm auto;
                  min-height:5cm;
                  border-radius:5px;
                  background-color:{{cover_color}}">        
        <div style="display:table-cell;
                    vertical-align:bottom;
                    height:5cm">
          <div style="margin:0.25cm;
                      padding-left:1cm">
            <h2>{{full_name}}</h2>
          </div>
        </div>
      </div>
      <form action="/post/{{slug}}">
        <div style="text-align:center;margin:0.5cm">
          <input type="text" name="message" placeholder="Post to {{first_name}}'s profile">
          <input type="submit" value="Post">
        </div>
      </form>
      <div style="margin:0 auto;
                  min-height:5cm;
                  padding:0.5cm;
                  border-radius:5px;
                  background-color:{{message_box_color}}">        
        <div style="margin:0 auto;
                    min-height:5cm">
{{messages}}
        </div>
      </div>
      <div style="text-align:right;
                  margin:0.5cm auto">
        <a href="/logout">Log out</a>
      </div>
    </div>
  </body>
</html>'''

